//colors
$background-color:#ebeaea82;
$main-background-color:#2828285e;
$main-text-color:#c6def5d2;
$button-background-color:#5959591e;
$button-text-color:#c6def5f7;
$window-background-color:#ffffff;
$hover-text-color: #97bafc;
$sec-hover-background-color:#ebeaea1a;
$line-color:#3c3b3b5c;
$main-dark-text-color:#353535e0;
$sec-text-color:#5c8d88;
$element-dec-color: #d7ac00;
$button-text-color:#fff;


