@import'/src/assets/base/variables.scss';

.tools_wind {
	transition: transform .2s ease-in;
	position: absolute;
	z-index: 1;
	transform: scale(0);
	width: max-content;
	backdrop-filter: blur(8px);
	
}
.wind_active {
	transform: scale(1);
	background-color:darken($color: $main-background-color, $amount: 20)  ;
	
}
.tools_item {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px;
	border-bottom: 1px solid $line-color;
	color: $main-text-color;
	cursor: pointer;
	
	// padding: 5px;
	&:last-child{
		border: none;
	}
	&:hover{
		background-color: $sec-hover-background-color ;
	}
}
.option_icon {
	opacity: 0.8;
	color: $main-text-color;
	font-size: 13px;
	// display: inline-block;
	
}
.dot_icon {
	color: $main-text-color;
	font-size: 25px;
	position: relative;
	z-index: 0;
	cursor: pointer;
}