@import "../../assets/base/variables.scss";

.header {
	border-bottom:1px solid $line-color;
	background-color: $main-background-color;
	color: $main-text-color;
}
.header_wrapper {
	display: flex;
	align-items: center;
	height: 40px;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	
}
.left_content {
	display: flex;
	gap: 20px;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 20px;
	color: $main-text-color;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	margin-right: 30px;
}
.burger_menu {
	position: relative;
	cursor: pointer;
	width: 25px;
	height: 2px;
	background: $main-text-color;
	&::after {
		content: "";
		width: 25px;
		height: 25px;
		position: absolute;
		top: -8px;
	}
	&.active {
		transition-delay: 0.5s;
		background: transparent;
		::after,
		::before {
			top: 0;
			transition-property: top, transform;
			transition-delay: 0.1s, 0.5s;
		}

		::after {
			transform: rotate(45deg);
		}
		::before {
			transform: rotate(-45deg);
		}
	}

	span {
		&:before {
			content: "";
			position: absolute;
			width: 25px;
			height: 2px;
			background-color: $main-text-color;
			top: -8px;
			transition: all 0.3s ease-out;
		}
		&:after {
			content: "";
			position: absolute;
			width: 25px;
			height: 2px;
			background-color: $main-text-color;
			top: 8px;
			transition: all 0.3s ease-out;
		}
	}
}
.right_content {
	display: flex;
	align-items: center;
	gap: 20px;
}
.user {
	display: flex;
	gap: 10px;
}
.button {
	padding: 5px 10px;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}
.logIn {
	background-color: transparent;
	border: 1px solid $main-text-color;
	color: $main-text-color;
}

.singUp {
	background-color: $main-text-color;
	border: 1px solid transparent;
	color: $main-dark-text-color;
}
