
.card_item {
	transition: transform 0.3s ease;
	background: #8383833a;
	border-radius: 10px;
	overflow: hidden;
	&:hover {
		transform: translateY(-10px);
	}
}
.name{
	font-size: 1.2em;
}
.card_image {
	width: 100%;
	
}
.description{
	margin-bottom: 20px;
}
.info{
	padding: 20px;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price{
	font-weight: 600;
	font-size: 1.2em;
}
