@import "/src/assets/base/variables.scss";

.title_task {
	font-size: 25px;
	color: $main-text-color;
	position: relative;
	cursor:default;
	
}
.title_elem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	&:hover {
		.gear_icn {
			opacity: 1;
		}
	}
}
.gear_icn {
	transition:
		opacity 0.3s ease-out,
		transform 1s ease-out;
	cursor: pointer;
	color: $main-text-color;
	opacity: 0.3;

}
.gear_w {
	z-index: 2;
	cursor: pointer;
	position: absolute;
	right: 0px;
	width: 30px;
	height: 30px;
	&:hover ~ .gear_icn {
		transform: rotate(90deg);
	}
}

.tolls_wind {
	transition: all 0.3s ease-out;
	opacity: 0;
	background-color: darken($color: $main-background-color, $amount: 20);
	position: absolute;
	right: -90px;
	top: 30px;
	z-index: 3;
	backdrop-filter: blur(10px);
	transform: scale(0);
	
}
.tolls_wind_active {
	transition: all 0.3s ease-out;
	transform: scale(1);
	backdrop-filter: blur(10px);
	opacity: 1;
	
	&::after{
		content: '';
		width: 100%;
		height: 100%;
		// background-color: red;
		z-index: -1;
		position: absolute;
		top: -15px;
	}
}

.tolls_item {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 10px 15px 10px 10px;
	border-bottom: 1px solid $line-color;
	color: $main-text-color;
	gap: 5px;
	&:hover {
		background-color: $sec-hover-background-color;
	}
	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}
.tolls_icon {
	font-size: 13px;
}
